.main{padding-top:0px; margin-left:75px;}
.bar {margin-top:100px;padding:0;}
.bar .input-group-addon {color:#6f6f6f;}
.recipe-list{
    position :fixed;
    top: 55px;
    left: 50px;
    bottom: 0;
    width:300px;
    z-index: 1000;
    display: block;
    background-color: white;
    padding-left:30px;
    overflow-y: auto;        
}


.recipe-list-header{
    height:55px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display:block;
    position:fixed;
    width:330px;
    padding-left :60px;
    margin-left:-25px;

}

.recipe-list-header i{font-size : 1.2em;}
.recipe-list-header input{
    border:none; 
    height:55px; 
    margin:auto; 
    background-color: #fff; 
    border-bottom: 1px solid #eee;
}
.sortButton{color:#363636;}
.sortButton:hover{text-decoration:none;}
.newRecipeButton{color:#363636;margin-left:15px;}
.newRecipeButton:hover{text-decoration:none;}
.dropdown-menu {z-index:10000;}
#menuSort{margin-left:100px; font-size:1em;}
#menuSort i{padding-left:15px;font-size:1em;} 
.selected{border-right: 3px solid #f1c40f;}
.deleteButton{color:#fff; float:right; display:none;}
.selected .deleteButton{color:#c3c3c3; display:inline;}
.recipe-item{border-bottom: 1px solid #eee; padding-top:0.5em; padding-left:30px;}
.brewer-name{padding:0.2em 0.5em 0.2em 0em;color:#c3c3c3; margin-bottom:1em; font-size:90%;}
.recipe-style{padding:0.2em 0.5em 0.2em 0em;color:#c3c3c3; margin-bottom:0.5em; font-size:90%; }
.recipe-name a{color:#6f6f6f; font-weight: bold;}
.recipe-info{padding-bottom:30px;}

.recipeView {margin:auto;margin-left:315px;background-color: #fff;}

.recipe-view-header {width:100%;min-height:55px;position:fixed;left:379px;z-index: 1000;background-color: #fff;padding-left:10px;border-bottom: 1px solid #eee;}

button.editRecipe{
  margin-left:30px;
  /*background-color: #1ABC9C;*/
/*  border:solid 1px #6f6f6f;*/
/*  color : #6f6f6f;*/
  background-color :#fff;
  margin-top:11px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px;
}

button.editRecipe i {
padding-bottom: 5px;  
}

button#menuJournal {
  background-color :#fff;
  margin-top:11px;
  margin-left:15px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px;
}

button#menuJournal i {
  padding-bottom: 5px;
}

button.brewday-switch {
  background-color :#fff;
  margin-top:11px;
  margin-left : 15px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px;  
}

button.brewday-switch i {
  padding-bottom: 5px;
}

button.optionsRecipe {
  background-color :#fff;
  margin-left : 15px;
  margin-top: 11px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px;  
}

button.optionsRecipe i {
  padding-bottom: 5px;
}

.recipe-view-header .btn-group {
  display: inline;

}


button.editRecipe:hover{
  /*background-color: #16A085;*/
}

button.saveRecipe {
  background-color :#fff;
  margin-top:11px;
  margin-left : 30px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px; 
}

button.saveRecipe i {
  padding-bottom: 5px;
}

button.cancelRecipe{
  background-color :#fff;
  margin-top:11px;
  margin-left : 15px;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-size: 10px;  
  color : #F1C40F;
}

button.cancelRecipe i {
  padding-bottom: 5px;
}

.recipe-header{padding-top:70px;}
.recipe-header h1 { font-size:1.75em; color:#444;padding-bottom:0px;margin-top:0;padding-left:0px;}
.author{color:#c3c3c3;padding-left:0px;padding-bottom: 15px;}
.recipeProfile{background-color:#f7f7f7;margin-left:30px;max-width:768px; margin-right:30px;}
.recipe-vol {padding-left:30px;padding-top:30px;}
.vol-label {color: #bbb;}
.vol-value {padding:0.2em 0.5em 0.2em 0.5em;margin-right:20px;background:#f7f7f7;color:#6f6f6f;font-weight: 800;}
.effi-label {color: #bbb;}
.effi-value {padding:0.2em 0.5em 0.2em 0.5em;margin-right:20px;background:#f7f7f7;color:#6f6f6f;font-weight: 800;}

.recipe-infos{border-bottom:solid 1px #eee;padding-bottom:0px;padding-left: 10px;}
.profile-sidebar h5 {padding-left: 20px;margin-top:25px; padding-top:9px;padding-bottom:9px;background:#fff;color:#6f6f6f;font-weight: 800;}
.recipe-infos-list li{list-style-type: none;color:#6f6f6f;padding-top:14px;}
ul.recipe-infos-list{padding-left:20px; padding-top:0;}

.recipe-buttons{margin-left:10px;margin-bottom:15px;padding-top: 0px;padding-left:5px;}
i.journalMenu-description{padding-left:15px;}
.edit-button{/*color:#f55050;*/ color: #3498db; background-color:#fff;margin-right: 20px;padding-bottom:2px;}
.edit-button:hover {color: #3498db; background-color:#fff;}
.tools-recipe{color:#222;float:right;font-size:18px;}
.ibu {color:#7ca3fa;}
.ebc {color:#7ca3fa;}
.gravity {color:#7ca3fa;}
.alc {color:#7ca3fa;}
.ing{padding-bottom:1.2em;}
.ingredients{padding-left:;}
.ingredients h3 {padding-bottom:18px; color:#bbb ; padding-top:40px; padding-left:15px;}
.use {color:#bbb;}
.ing-name{font-weight:400; }

table.ing-table{
  font-size: 14px;
  margin-left:15px;max-width:650px; margin-right:30px; padding-right: 30px;
  border-collapse : separate;
}


.table tbody>tr>td {
border:none;
}

.table tbody {
  border:none;
}

.calculated{color:#999; font-weight: bold; padding-top: 1.1em;padding-bottom: 1.1em; max-width:100px; min-width:75px; }

button.addIngredient {
  color : #3498db;
  /*border : 1px solid;*/
  border: 0;
  font-size : 14px;
  background: #fff;
  margin-bottom: 24px;
  margin-left: -5px;
  font-weight: 100;
  padding-top: 5px;
}

button.addIngredient:hover{
  text-decoration: underline;
}

button.addIngredient i {
  padding-right: 8px;
}

span.clickEdit {
  background-color: rgba(0,0,0,0.90);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none;    
  width: 120px;
  font-size: 12px;    
  text-align: center;    
  padding : 3px 3px 3px 3px;
  color: #fff;
  position: absolute; 
  left : 40%;      
  z-index: 100;    

    
}

tr:hover td span.clickEdit {
    display: block;
    -webkit-animation: fade .4s linear 1;
    
}


tr:hover td:not(.buttonTd) {
    background-color: #f8f8f8;
    
}

button.btn-link.btn-xs.table-button {
  padding : 0px 5px;
}

button.removeIngredient {
  color:#c3c3c3;
}

.hops {padding-left:30px;}
.hops h3 {padding-bottom:18px; padding-top:30px;color:#bbb}
.profile h3 {padding-bottom:10px;padding-top:0px;margin-top:0;color:#bbb}
.profile-header {padding-top:30px; padding-bottom:10px;}
.brewday-button {padding-top:0px;}
.brew-details {padding-left:15px;}
.profile p{margin-bottom: 1.5em;}
.profile-name{font-weight: bold;display:block;}
.label-step{background-color:#f7f7f7;padding:0.2em 0.5em 0.2em 0.5em;color:#6f6f6f;font-weight: bold;}
.label-sparge{background-color:#a1b5bf;padding:0.2em 0.5em 0.2em 0.5em;color:#6f6f6f;font-weight: bold;}
.profile-ph{display:inline-block;margin-top:1em;margin-bottom:1.5em;padding:0.2em 0.5em 0.2em 0.5em;background:#f7f7f7;color:#6f6f6f;font-weight: 800;}
#profile-graph{margin-top:2em;}

.notes{margin-bottom:300px;padding-left:30px;}
.notes pre {min-height:100px;}
.notes textarea{min-height:100px;}

.recipe-list::-webkit-scrollbar { 
display: none; 
}

.ing-name .popover-ing {
  background-color: rgba(0,0,0,0.90);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 180px;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  z-index: 10;
}

span.ing-name:hover .popover-ing {
  display: block;
  -webkit-animation: fade .4s linear 1, slide .3s linear 1;
}

@-webkit-keyframes fade {
  from {opacity: 0;} to {opacity: 1;}
}

@-webkit-keyframes slide {
  from {left: 50px;} to {left: 30px;}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;}

/*
Mode édition
*/

input.nameInput{
    background: #fff; 
    border: none;
    border-bottom: #eee 2px solid;
    font-size: 36px;
    font-weight: 100;
    color: #444;
    margin-bottom: 25px;
    margin-left: 15px;


}

.baseInfos {
    margin-left:30px;
    max-width:768px; 
    margin-right:30px;
    margin-top : 2em;
    padding:0.5em 0 0.5em 0;
}

.baseInfos input {
    border-radius: 0;
    border:1px solid #eee;
    box-shadow:0px 0px 0px;
}

.baseInfos label {
    font-weight: normal;
    background: #16A085; 
    color: #fff;
    padding:0.5em;
    margin-bottom: -5px;
    font-size : 0.9em;
}

.baseConstants {
    margin-left:30px;
    max-width:768px; 
    margin-right:30px;
    margin-top : 2em;
    padding:0.5em 45px 0.5em 15px;
    border: solid 5px #f7f7f7;
}

.baseConstants input {
    border-radius: 0;
    border:1px solid #eee;
    box-shadow:0px 0px 0px;
}

.baseConstants label {
    font-weight: normal;
    background: #fff;  
    color: #16A085;
    padding:0.5em;
    
    }

.baseConstants .form-control {
  height: 30px;
}

.baseConstants .form-group {
  margin-bottom: 0px;
}

.scaleInput {
    float: right;
    padding: 15px 15px 25px 0;
    
    color: #16A085;
}

span.param-title {
  display: block;
  background-color: #f7f7f7;
  margin : -10px -45px 30px -15px;
  padding :10px;
  text-transform: uppercase;
  color: #999;
}

.mainIng {
  height: 300px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -150px;
  margin-left :-125px;
}

.HUD {
    height: 150px;
    position: absolute;
    top:10%;
    left: 50%;
    margin-left: -195px;
    font-size : 32px;
    color: #d9d9d9;
}

.HUD span {
    padding-right:32px;
}

.mainIng label {
  display: inline-block;
  width:150px;
}

.mainIng input {
    display: inline-block;
    border-radius: 0;
    border:1px solid #eee;
    box-shadow:0px 0px 0px;
}

button.okIng {
    display: inline-block;
    border-radius: 3px;
    border: none;
    background-color: #4fbf7a;
    color: #fff;
    text-align: center;
    padding : 5px 55px 5px 55px;
    margin-top: 50px;
}

button.cancelIng {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    background-color: #f0f0f0;
    color: #777777 ;
    text-align: center;
    padding : 5px 55px 5px 55px;
    margin-top:50px;
    margin-right: 15px;
}


.mainIng select {
    margin-bottom: 5px;
    width : 150px;
    background: #fff;
    border-radius: 0;
    border:1px solid #eee;
}

